.imageModal {
    position: relative;

    .image {
        width: 80vw;
        height: 80vh;
    }

    .imageInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 12px;
        text-align: center;

        p {
            text-align: left;
            margin: 0;
        }
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.497);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}